
  body {
    background-color: aliceblue;
  }


  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: lightsteelblue;
    border-width: 8px;
    width: 8%;
  }


 h1 {font-size: 20px;
 }

 h3 {font-size: 20px;
 }
